body {
  background-color: rgb(234, 234, 234);
}

.container-sm {
  padding-top: 1em;
  padding-bottom: 85px;
  padding-left: 1em;
  padding-right: 1em;
}

* {
  margin: 0;
  padding: 0;
}


.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: gray;

}

.checked {
  color: orange;
}

.card {
  width: 100%;
  border: none;
}





